@use "../../../../scss/variables" as *;

.footer {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  border-top: 1px solid $clr-grey--30;

  .sub {
    font-size: 16px;
    line-height: 24px;

    @media (max-width: 610px) {
      width: 200px;
      margin: 0 auto;
      text-align: center;
      font-size: 15px;
    }
  }

  .linkList {
    display: flex;

    &__item {
      margin-left: 24px;

      @media (max-width: 610px) {
        margin: 0 12px;
      }
    }
  }

  @media (max-width: 610px) {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 104px;
  }
}
