.loader {
  animation: loader 1s cubic-bezier(0.79, 0.33, 0.14, 0.53) infinite;
  z-index: 1111;

  img {
    width: 68px;
    height: 68px;

    @media (max-width: 768px) {
      width: 44px;
      height: 44px;
    }
    @media (max-width: 320px) {
      width: 22px;
      height: 22px;
    }
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
