@use "../../../scss/variables" as *;

.ratingBlock {
  margin-bottom: 62px;

  .ratingWrapper {
    display: flex;
    align-items: center;

    span {
      font-weight: 700;
      font-size: 1.125rem;
      margin-left: 10px;
    }

    .noRating {
      font-size: .875rem;
      font-weight: 400;
    }
  }

  @media (max-width: 500px) {
    margin-bottom: 24px;
  }
}

.subTitle {
  margin-bottom: 32px;
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.75rem;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    max-width: 350px;
    width: 100%;
    border-bottom: 1px solid $clr-grey--20;
  }

  @media (max-width: 400px) {
    margin-bottom: 24px;
  }
}
