.functionsItem {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  .title {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 125%;
    letter-spacing: 0.1px;
  }

  .subtitle {
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: $clr-grey--40;
    margin-bottom: 24px;
  }
}
