@use "../../../scss/variables" as *;

.hint {
  font-weight: 500;
  font-size: .75rem;
  line-height: 1rem;
  letter-spacing: 0.2px;

  a {
    transition: $transition--generic;
  }
}

.grey {
  color: $clr-grey--40;

  a:hover {
    color: $clr-black--10;
  }
}

.error {
  color: $clr-neg;
}

.black {
  color: $clr-black--10;
}
