.container {
  padding: 48px 32px;
  width: 600px;
  text-align: center;

  @media (max-width: 665px) {
    padding: 42px 16px 32px;
    width: auto;
  }
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.875rem;
  letter-spacing: 0.1px;
  color: $clr-black--10;


  @media (max-width: 550px) {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.description {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 32px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: 550px) {
    margin: 24px 0;
  }
}

.button {
  border-radius: 20px;
  width: 100%;

  @media (min-width: 550px) {
    font-size: 1rem;
    line-height: 150%;
    height: 52px;
    border-radius: 30px;
  }
}
