@use "../../../scss/variables" as *;

.layoutAuthentication {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 16px;

  background: $linear-gradient;

  .content {
    position: relative;
  }

  .childrenContainer {
    position: relative;
    background: $clr-white;
    border-radius: 16px;
    overflow: hidden;
  }

  .title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.5rem;

    color: white;

    position: absolute;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 500px) {
      font-size: 1.125rem;
      line-height: 1.75rem;

      top: 30px;
    }
  }
}
